@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-base {
    @apply h-9 text-white bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4;
  }
  .button-submit {
    @apply button-base bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700
      dark:focus:ring-blue-800;
  }
  .button-reset {
    @apply button-base bg-red-700 hover:bg-red-800 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700
      dark:focus:ring-red-800;
  }
  .history-checkbox {
    label {
      @apply block text-sm font-bold;
    }
  }
  .history-input {
    label {
      @apply block mb-2 text-sm;
    }
    input {
      @apply font-bold w-full px-3 py-2 text-sm leading-tight border rounded shadow appearance-none
        focus:outline-none focus:border-blue-800; /*focus:shadow-outline*/
    }
  }
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #3B82F6; /* blue-500 */
  margin-top: 8px;
}
/*<div class="w-12 h-1 bg-blue-500 mb-6"></div>*/

